// @Font-Face
@mixin font-face($fontStyleName, $fontSlug, $fontWeight:normal, $fontStyle:normal, $fontPath: '') {
	@font-face {
		font-family: $fontStyleName;
		src: url($fontPath + $fontSlug+'.eot');
		src: url($fontPath + $fontSlug+'.eot?#iefix') format('embedded-opentype'),
				 url($fontPath + $fontSlug+'.woff2') format('woff2'),
				 url($fontPath + $fontSlug+'.woff') format('woff'),
				 url($fontPath + $fontSlug+'.ttf') format('truetype'),
				 url($fontPath + $fontSlug+'.svg#{$fontSlug}') format('svg');
		font-weight: $fontWeight;
		font-style:  $fontStyle;
	}
}

// :Usage
@include font-face('OpenSans Regular','OpenSans-Regular','normal','normal','fonts/');
@include font-face('Roboto Regular','Roboto-Regular','normal','normal','fonts/');
